.nav-link {
    color: #fff !important;
}
.nav-link:hover {
    color: #63c1de !important;
}
nav.dark {
    background-color: #5B2DCB !important;
    padding-bottom: 0.4em;
    transition: 200ms ease-in;
}

.header__inflables {
    min-height: 550px;
    background-image: url(/img/vector-kids.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 991px) {
    .header__inflables .titulo {
        padding-top: 3em;
        padding-bottom: 1em;
        text-align: center;
    }
}

.header__inflables .espacio {
    max-width: 900px;
    height: auto;
}
.header__flex  {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 400px;
}
.header__flex .juegos {
    width: auto;
    height: 400px;

    position: absolute;
    bottom: 15px;
    left: 0px;
    transition: .5s;
} @media (max-width: 991px) {
    .header__flex .juegos {
        position: absolute;
        bottom: 15px;
        left: 60px;
        transition: .5s;
    } 
}@media (max-width: 767px) {
    .header__flex .juegos {
        position: absolute;
        bottom: 15px;
        left: 10px;
        transition: .5s;
    } 
}@media (max-width: 464px) {
    .header__flex .juegos {
        width: auto;
        height: 300px;

        position: absolute;
        top: 15px;
        left: 20px;
        transition: .5s;
    } 
}@media (max-width: 390px) {
    .header__flex .juegos {
        width: auto;
        height: 260px;

        position: absolute;
        top: 15px;
        left: 10px;
        transition: .5s;
    } 
}

.header__inflables h1 {
    color: #fff;
    font-size: 3em;
}

.inflables-img {
    text-align: center;
}
.titular {
    text-align: center;
    min-height: 200px;
    display: flex;
    align-items: center;
}
.productos {
    min-height: 30px;
    background-image: url(/img/Vector-27-1.svg);
    background-position: center 450px;
    background-repeat: no-repeat;
    background-size: contain;
}@media (max-width: 1199px){
    .productos {
        background-image: url(/img/Vector-27-27.svg);
        background-position: center 290px;
        transition: .3s ease;
    }
} @media (max-width: 1131px){
    .productos {
        background-image: url(/img/Vector-27-27.svg);
        background-position: center 320px;
        transition: .3s ease;
    }
} 
@media (max-width: 991px){
    .productos {
        background-image: url(/img/Vector-27-27.svg);
        background-position: center 320px;
        transition: .3s ease;
    }
} 
.globo {
    z-index: 1;
    position: absolute;
    top: -70px;
    left: -90px;
}
.image {
    z-index: -1;
    position: relative;
}

.txt h3,
.txt p {
    color: #fff;
}
@media (max-width: 991px) {
    .izquierda {
        order: 2;
    }
    .derecha {
        order: 0;
    }
    .productos {
        background-image: url(/img/fondo-kids.svg);
        background-position: center 540px;
    }
    .izquierda h3,
    .izquierda p {
        color: #000;
    }
}

.caracteristicas h4 span {
    font-size: 0.6em;
    color: #5B2DCB;
}
.caracteristicas .pos {
    display: flex;
    justify-content: center;
    align-items: center;
}
