@font-face {
    font-family: 'Poppins-Bold';
    src: url(/fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(/fonts/Poppins-Regular.ttf);
    font-display: swap;
    
}
* {
    font-family: 'Poppins-Regular';
}
h1, h2, h3, h4, span {
    font-family: 'Poppins-Bold';
}


.bg-osorio {
    background-color: transparent;
}
nav.dark {
    background-color: #000 !important;
    padding-bottom: .4em;
    transition: 200ms ease-in; }
nav.dark .nav-link {
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    padding-right: 1.5em !important;
}


ul .nav-item {
   padding-right: 10px;
}
.nav-link {
    color: #000 !important;
}
.btn-primary {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: .3em 1.5em .3em 1.5em;
    font-family: 'Poppins-Bold';
    text-decoration: none;
}
.btn-primary:hover {
    background-color: #00ABD3;
}
.btn-secondary {
    background-color: #00ABD3;
    border: none;
}

/* Osorio */

.minimo {
    min-height: 350px;
    padding-top: 1em;
    padding-bottom: 3em;
}

.caracteristicas {
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacto  {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto__redes {
    padding-bottom: 1.5em;
}
.contacto__redes a{
    color: #00ABD3;
    text-decoration: none;
    font-size: 18px;
}
.contacto__redes .linea {
    display: flex;
    justify-content: left !important;
    width: 120px;
}
.contacto__redes hr {
    border: solid #00ABD3 2px;
    border-radius: 10px;
    width: 100%;
    
}
.contacto iframe {
    width: 100%;
    height: 450px;
}

.formulario {
    padding: 1rem 0 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 2em;
    max-width: 600px;
    min-height: 400px;
    box-shadow: #000;
}
.boton {
    float: right;
    margin-top: 1em;
}

/* end */

footer {
    min-height: 350px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #aeaeae;
}
footer h4 {
    color: #00ABD3;
}
footer li {
    list-style-type: none;
}
footer li a {

    color: #aeaeae;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.linea hr {

    border: 1px #fff solid;
}
footer .columnas {
    padding-top: 3em;
    padding-bottom: 3em;
}